#buycar {
  width: 7.5rem;
}
#buycar .my_header {
  width: 100%;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.36rem;
}
#buycar .my_header span {
  display: inline-block;
  width: 0.24rem;
  height: 0.37rem;
  background: url(../images/sprite.png) no-repeat 0 -1.92rem;
  background-size: 5.0rem;
  float: left;
  margin-left: 0.20rem;
  margin-top: 0.25rem;
}
#buycar .my_header strong {
  font-weight: normal;
}
#buycar .my_header i {
  display: inline-block;
  width: 0.41rem;
  height: 0.41rem;
  background: url(../images/sprite.jpg) no-repeat 0 -3.18rem;
  background-size: 5.0rem;
  float: right;
  margin: 0.2rem;
}
#buycar .context {
  width: 100%;
  font-size: 0.16rem;
  background-color: #f2f2f2;
  overflow: hidden;
}
#buycar .context .first {
  margin-top: 0.3rem;
  background-color: #fff;
}
#buycar .context .first h1 {
  width: 100%;
  height: 0.8rem;
  text-indent: 0.3rem;
  border-bottom: 0.01rem solid #eee;
}
#buycar .context .first .content {
  width: 100%;
  margin-top: 0.2rem;
  position: relative;
  padding-bottom: 0.15rem;
}
#buycar .context .first .content img {
  width: 1.95rem;
  height: 1.95rem;
  margin-left: 0.2rem;
  vertical-align: top;
}
#buycar .context .first .content .text {
  display: inline-block;
  width: 4.4rem;
  margin-left: 0.35rem;
}
#buycar .context .first .content .text h2 {
  font-size: 0.3rem;
  padding: 0.2rem 0;
}
#buycar .context .first .content .text p {
  color: #676767;
}
#buycar .context .first .content .text h3 {
  margin-top: 0.15rem;
}
#buycar .context .first .content .text h3 span {
  color: #cc0000;
  float: left;
}
#buycar .context .first .content .text h3 strong {
  float: right;
  color: #676767;
}
#buycar .meiyou {
  width: 100%;
  height: 2.3rem;
  font-size: 0.3rem;
  text-align: center;
  line-height: 2.3rem;
  background-color: #eeeeee;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
