#wraper {
  width: 7.5rem;
}
#wraper a {
  text-decoration: none;
  color: #000;
}
#wraper .my_header {
  width: 100%;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.36rem;
}
#wraper .my_header span {
  display: inline-block;
  width: 0.24rem;
  height: 0.37rem;
  background: url(../images/sprite.png) no-repeat 0 -1.92rem;
  background-size: 5.0rem;
  float: left;
  margin-left: 0.20rem;
  margin-top: 0.25rem;
}
#wraper .my_header strong {
  font-weight: normal;
}
#wraper .my_banner {
  width: 100%;
  height: 3.3rem;
  background: url(../images/mybanner.jpg) no-repeat center;
  background-size: 100%;
}
#wraper .my_banner .logo {
  float: left;
  position: relative;
}
#wraper .my_banner .logo img {
  width: 1.27rem;
  height: 1.27rem;
  margin-top: 0.9rem;
  margin-left: 0.2rem;
  border-radius: 50%;
}
#wraper .my_banner .logo span {
  position: absolute;
  left: 1.02rem;
  top: 0.72rem;
  width: 0.42rem;
  height: 0.42rem;
  font-size: 0.12rem;
  line-height: 0.42rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: red;
}
#wraper .my_banner .textBar {
  float: left;
  font-size: 0.16rem;
  margin-top: 0.9rem;
  margin-left: 0.3rem;
}
#wraper .my_banner .textBar p {
  font-size: 0.4rem;
  color: #fff;
  margin-left: 0.2rem;
}
#wraper .my_banner .textBar h2 {
  font-weight: normal;
  color: #1e1e1e;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
}
#wraper .my_banner .textBar h3 {
  font-size: 0.19rem;
  margin-top: 0.1rem;
}
#wraper .my_banner .textBar h3 span {
  font-size: 0.12rem;
  color: #1e1e1e;
  margin-left: 0.2rem;
}
#wraper .my_banner .textBar h3 strong {
  font-weight: normal;
  color: #fff;
  margin-left: 0.1rem;
}
#wraper .contentBar {
  width: 100%;
  background-color: #f3f3f3;
  font-size: 0.16rem;
}
#wraper .contentBar .dingdan {
  width: 100%;
  background-color: #fff;
  margin-top: 0.2rem;
  padding-bottom: 0.1rem;
}
#wraper .contentBar .dingdan h1 {
  width: 100%;
  color: #343434;
  border-bottom: 1px solid #f2f2f2;
  padding: 0.1rem 0;
}
#wraper .contentBar .dingdan h1 span {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: url(../images/sprite.png) no-repeat -0.28rem -1.9rem;
  background-size: 5.0rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
#wraper .contentBar .dingdan ul {
  width: 100%;
  display: flex;
  margin-top: 0.25rem;
}
#wraper .contentBar .dingdan ul li {
  list-style: none;
  text-align: center;
  flex: 1;
}
#wraper .contentBar .dingdan ul li span {
  display: block;
  margin-left: 0.8rem;
  width: 0.42rem;
  height: 0.42rem;
}
#wraper .contentBar .dingdan ul li .sss1 {
  background: url(../images/sprite.png) no-repeat 0 -2.38rem;
  background-size: 5.0rem;
}
#wraper .contentBar .dingdan ul li .sss2 {
  background: url(../images/sprite.png) no-repeat -0.41rem -2.38rem;
  background-size: 5.0rem;
}
#wraper .contentBar .dingdan ul li .sss3 {
  background: url(../images/sprite.png) no-repeat -0.84rem -2.38rem;
  background-size: 5.0rem;
}
#wraper .contentBar .dingdan ul li .sss4 {
  background: url(../images/sprite.png) no-repeat -1.27rem -2.39rem;
  background-size: 5.0rem;
}
#wraper .contentBar .dingdan ul li:hover {
  color: #ffb166;
}
#wraper .contentBar .guowu {
  font-size: 0.16rem;
  margin-top: 0.4rem;
}
#wraper .contentBar .guowu dl {
  width: 100%;
  background-color: #fff;
}
#wraper .contentBar .guowu dl strong {
  width: 0.18rem;
  float: right;
  height: 0.26rem;
  background: url(../images/sprite.png) no-repeat 0 -2.83rem;
  background-size: 5.0rem;
  margin-top: 0.36rem;
}
#wraper .contentBar .guowu dl dt {
  width: 94%;
  margin: 0 auto;
  height: 1.0rem;
  line-height: 1.0rem;
  border-bottom: 1px solid #eee;
  font-size: 0.3rem;
}
#wraper .contentBar .guowu dl dt .gg {
  display: inline-block;
  width: 0.4rem;
  height: 0.41rem;
  background: url(../images/sprite.png) no-repeat -0.78rem -1.92rem;
  background-size: 5.0rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
#wraper .contentBar .guowu dl dd {
  width: 94%;
  margin: 0 auto;
  height: 1.0rem;
  line-height: 1.0rem;
  font-size: 0.3rem;
}
#wraper .contentBar .guowu dl dd .mm {
  display: inline-block;
  width: 0.4rem;
  height: 0.41rem;
  background: url(../images/sprite.png) no-repeat -1.26rem -1.92rem;
  background-size: 5.0rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
#wraper .contentBar .guowu dl dd .ss {
  display: inline-block;
  width: 0.4rem;
  height: 0.41rem;
  background: url(../images/sprite.png) no-repeat -1.66rem -1.92rem;
  background-size: 5.0rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
#wraper .contentBar .guowu dl dd .xx {
  display: inline-block;
  width: 0.4rem;
  height: 0.41rem;
  background: url(../images/sprite.png) no-repeat -2.06rem -1.92rem;
  background-size: 5.0rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
#wraper .contentBar .guowu dl dd .dd {
  display: inline-block;
  width: 0.4rem;
  height: 0.41rem;
  background: url(../images/sprite.png) no-repeat -2.53rem -1.96rem;
  background-size: 5.0rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
#wraper .navBar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.0rem;
  background-color: #fff;
  display: flex;
}
#wraper .navBar div {
  font-size: 0.12rem;
  text-align: center;
  flex: 1;
  padding-top: 0.1rem;
}
#wraper .navBar div span {
  display: block;
}
#wraper .navBar div a {
  text-decoration: none;
  color: #000;
}
#wraper .navBar div .span1 {
  width: 0.39rem;
  height: 0.47rem;
  margin: 0 auto;
  background: url(../images/sprite.png) no-repeat -2.03rem -0.49rem;
  background-size: 5.0rem;
}
#wraper .navBar div .span2 {
  width: 0.55rem;
  height: 0.50rem;
  margin: 0 auto;
  background: url(../images/sprite.png) no-repeat 0 -0.49rem;
  background-size: 5.0rem;
}
#wraper .navBar div .span3 {
  width: 0.50rem;
  height: 0.47rem;
  margin: 0 auto;
  background: url(../images/sprite.png) no-repeat -0.48rem -0.5rem;
  background-size: 5.0rem;
}
#wraper .navBar div .span4 {
  width: 0.47rem;
  height: 0.47rem;
  margin: 0 auto;
  background: url(../images/sprite.png) no-repeat -0.97rem -0.55rem;
  background-size: 5.0rem;
}
#wraper .navBar div .span5 {
  width: 0.44rem;
  height: 0.47rem;
  margin: 0 auto;
  background: url(../images/sprite.png) no-repeat -0.52rem 0;
  background-size: 5.0rem;
}
